<script>
$(document).ready( function () {
    $('#item-table').DataTable( {
        ajax: { 
            url: '{{ "/assets/js/metadata.min.json" | relative_url }}', 
            dataSrc: 'objects' 
        },
        "deferRender": true,
        "paging": true,
        "lengthMenu": [[ 25, 50, 100, -1], [ 25, 50, 100, "Tümü"]],

        dom: 'B<"row mt-2"<"col-md-6"l><"col-md-6"f>>t<"row"<"col-md-6"i><"col-md-6"p>>', 
        buttons: [ 'excelHtml5', 'csvHtml5' ],

        language: {
            search: "Ara:",
            lengthMenu: "_MENU_ kayıt göster",
            info: "_TOTAL_ kayıttan _START_–_END_ arası gösteriliyor",
            infoEmpty: "Gösterilecek kayıt yok",
            zeroRecords: "Eşleşen kayıt bulunamadı",
            paginate: {
                first: "İlk",
                last: "Son",
                next: "İleri",
                previous: "Geri"
            }
        },

        columns: [
          {% for i in (0..fcount) %}
            { data: '{{ i }}' }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ],
        columnDefs: [ 
            { 
              "render": function ( data ) { 
                  return '{{ site.url }}' + data; 
              },
              "targets": {{ fcount }} 
            },
            { 
              "render": function ( data, type, row ) { 
                  return '<a href="' + row['{{ fcount }}'] +'">'+ data +'</a>'; 
              },
              "targets": 0 
            },
            { 
              "visible": false,  
              "targets": [ {{ fcount }} ] 
            }
        ],
        order: [[ 1, "asc" ]]
    });
});
</script>
